/*Form Section */
#root {
  font-family: futura, sans-serif;
  background-image: radial-gradient(
    circle,
    #fafafa,
    #faf9fa,
    #fbf8f7,
    #fbf7f4,
    #f7f7f2
  );
}
.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.form-label {
  font-size: 0.8rem;
}
/*Post section */
.post-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*Actual box the list of posts sit in */
.post-box {
  height: 60vh;
  min-width: 50vw;
  overflow-y: scroll;
  background-color: lightgray;
  border: 0.5rem solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/*Button on individual post: */
.post-button {
  background-color: white;
  border: 0px transparent;
}
.nav-color {
  background-color: rgb(63, 63, 63);
}
.nav-text {
  color: white;
  font-size: 0.9rem;
}

#vhs-logo {
  height: 2rem;
  width: auto;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
