/*Form Section */
#root {
  font-family: futura, sans-serif;
  background-image: radial-gradient(
    circle,
    #fafafa,
    #faf9fa,
    #fbf8f7,
    #fbf7f4,
    #f7f7f2
  );
}
.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.form-label {
  font-size: 0.8rem;
}
/*Post section */
.post-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  position: sticky;
  top: 0;
}
/*Actual box the list of posts sit in */
.post-box {
  height: 60vh;
  max-width: 90vw;
  overflow-y: scroll;
  background-color: lightgray;
  border: 0.5rem solid black;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  z-index: 1;
}
.sticky-table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}
td {
  border: 1px solid whitesmoke;
}
th,
td {
  padding: 0.35rem;
}
.tr-black th {
  background-color: black;
  text-align: center;
  color: white;
  cursor: pointer;
}
th {
  position: sticky;
  top: 0;
  z-index: 1;
}
/*Button on individual post: */
.post-button {
  background-color: white;
  border: 0px white;
  font-size: 0.9rem;
}
.nav-color {
  background-color: rgb(63, 63, 63);
}
.nav-text {
  color: white;
  font-size: 0.9rem;
}

#vhs-logo {
  height: 2rem;
  width: auto;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
